[alias]

##### Taken from https://github.com/ironcodestudio/ironcode-git-enhancements

  branch-clean = !git branch --merged | grep -v '*' | xargs git branch -d && git remote prune origin
  delete-merged-on-origin = !git branch --all --merged remotes/origin/master | grep --invert-match master | grep --invert-match HEAD | grep "remotes/origin/" | cut -d "/" -f 3- | xargs -n 1 git push --delete origin

#######


#### Taken from https://github.com/thoughtbot/dotfiles ###

branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes


########

  ds = diff --staged
  st = status -sb

  ls =  log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(reset)%s%C(green) [%cn]%C(red)%d\" --decorate --date=short
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ll  = log --all --graph --decorate --oneline --simplify-by-decoration

  last = log -1
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

  changed = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short --numstat

  cl = clone
  ci = commit
  c  = commit
  co = checkout
  cob = checkout -b
  new = checkout -b
  track = "! f() { git checkout --track \"origin/$1\";  }; f"
  br = branch
  go = checkout

  preb = "! f() { br=$( git rev-parse --abbrev-ref HEAD); echo Rebasing from origin/$br; sleep 1.5;  git pull --rebase origin $br;  }; f"

  diff = '! f() { if [[ command -v diff-so-fancy ]] ; then pager="diff-so-fancy --markEmptyLines=false| less --tabs=4 -RFX"; else pager=less;fi; git diff --word-diff --; }; f'
  
  dc = diff --cached

  tags = "! f() { git tag -n1 -l | sort -V; }; f"

  list = ls-tree -r -t --name-only HEAD
  cleanup = gc --aggressive --prune

  untrack = rm --cache --

  when = log --follow --diff-filter=A

  up = "! f() { br=$( git rev-parse --abbrev-ref HEAD); echo Pushing to origin/$br; git push origin $br;  }; f"

  squash = "! f() { sha=\"HEAD~${1}\"; git rebase --autosquash -i $sha; }; f"

  typo = "! f() { git commit -a --squash=HEAD; EDITOR=true VISUAL=true git rebase -i --autosquash HEAD~2; }; f"


  rem = remote --verbose



[user]
	name = Bill Dueber
	email = bill@dueber.com

[github]
  user = billdueber
  token = 47c94aadeb9c8933ffc85cc7a4d3972c


[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  excludesfile = /Users/dueberb/.gitignore_global
  editor = emacs
  quotepath = false
  pager = "less --tabs=4 -RFX "
  autocrlf = input

[diff-so-fancy]
  markEmptyLines = false

[blame]
  date = relative

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[push]
  default = simple

[credential]
	helper = osxkeychain

[grep]
	lineNumber = true
	heading = true
	break = true
	
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[hub]
	protocol = https

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[merge]
	ff = false

[push]

  default = current
  followTags = true

[rebase]
  autosquash = true

